[submodule "lib/Catch"]
	path = lib/Catch
	url = https://github.com/philsquared/Catch.git
[submodule "lib/RxCpp"]
	path = lib/RxCpp
	url = https://github.com/Reactive-Extensions/RxCpp.git
[submodule "lib/SQLiteCpp"]
	path = lib/SQLiteCpp
	url = https://github.com/SRombauts/SQLiteCpp.git
