[submodule "lib/Catch"]
	path = lib/Catch
	url = git@github.com:philsquared/Catch.git
[submodule "lib/RxCpp"]
	path = lib/RxCpp
	url = git@github.com:Reactive-Extensions/RxCpp.git
[submodule "lib/SQLiteCpp"]
	path = lib/SQLiteCpp
	url = git@github.com:SRombauts/SQLiteCpp.git
